<div class="bg-gray-100 min-h-full py-10 shadow-inner">
  <div
    class="flex w-full 2xl:max-w-[1200px] xl:max-w-[900px] mx-auto gap-16 justify-center"
  >
    <div class="flex flex-col w-[300px] relative">
      <img src="cropped-logo-bakery.png" class="max-w-[400px]" alt="Logo" />
      <span class="mt-3 leading-5">
        El pan recién horneado llena el aire con un aroma irresistible, evocando
        recuerdos de hogar y calidez.
      </span>
    </div>

    <div class="flex flex-col py-6">
      <h2 class="font-bold text-2xl mb-3 text-blue-950">Enlaces rápidos</h2>
      <a class="hover:text-blue-500" routerLink="/inicio">Inicio</a>
      <a class="hover:text-blue-500" routerLink="/sobre-nosotros"
        >Acerca de nostros</a
      >
      <a class="hover:text-blue-500" routerLink="/contacto">Contacto</a>
    </div>

    <div class="flex flex-col py-6">
      <h2 class="font-bold text-2xl mb-3 text-blue-950">Contacto</h2>
      <span>Correo: lorem&#64;lorem.com </span>
      <span>Teléfono: 123-456-7890</span>
      <span>Dirección: 123 Calle Lorem, Ipsum</span>
    </div>
  </div>
</div>
