<nav class="flex py-5 border-b shadow-md">
  <div class="flex justify-between items-center w-full max-w-[800px] mx-auto">
    <img src="cropped-logo-bakery.png" alt="Panaderia" class="max-w-[200px]" />
    <div
      class="flex gap-5 [&>a]:p-3 [&>a]:font-bold [&>a]:cursor-pointer [&>a]:transition-all"
    >
      <a
        class="hover:border-b-[2px] hover:border-black"
        routerLink="/inicio"
        routerLinkActive="active"
        >Inicio</a
      >
      <a
        class="hover:border-b-[2px] hover:border-black"
        routerLink="/sobre-nosotros"
        routerLinkActive="active"
        >Acerca de nosotros</a
      >
      <a
        class="hover:border-b-[2px] hover:border-black"
        routerLink="/contacto"
        routerLinkActive="active"
        >Contacto</a
      >
    </div>
  </div>
</nav>
