<div class="triangular-border bg-[#EF9029] shadow-2xl mb-10">
  <div
    class="[&>div]:bg-[#141519] flex gap-10 max-w-[1100px] mx-auto py-10 [&>div>h2]:text-white [&>div>h2]:font-BebasNeue [&>div>h2]:font-bold [&>div>h2]:text-[35px] [&>div>h2]:text-center [&>div]:p-5 [&>div]:rounded-xl"
  >
    <div
      class="h-[320px] mt-10 text-white flex flex-col justify-center items-center hover:scale-105 transition-transform cursor-pointer"
    >
      <h2>Plan Fanatico del Pan</h2>
      <h3 class="font-BebasNeue text-white text-[1.5625rem] text-center">
        GTQ.100.00/mes
      </h3>
      <p class="text-center">
        Disfruta de una selección especial de panes cada semana.
      </p>
    </div>

    <div
      class="h-[400px] relative text-white flex flex-col justify-center items-center hover:scale-105 transition-transform cursor-pointer"
    >
      <img
        src="mega-fan-art.webp"
        alt="Fan"
        class="absolute -top-[138px] right-0"
      />
      <h3 class="text-[#EF9029] text-center">Lo mas popular</h3>
      <h2>Pan Lover</h2>
      <h3 class="font-BebasNeue text-white text-[1.5625rem] text-center">
        GTQ.150.00/mes
      </h3>
      <p class="text-center">
        Recibe una variedad de panes artesanales cada mes.
      </p>
    </div>

    <div
      class="h-[370px] mt-10 text-white flex flex-col justify-center items-center hover:scale-105 transition-transform cursor-pointer"
    >
      <h2>Pan Lover Extreme</h2>
      <h3 class="font-BebasNeue text-white text-[1.5625rem] text-center">
        GTQ.250.00/mes
      </h3>
      <p class="text-center">
        Obtén acceso ilimitado a todos nuestros panes exclusivos.
      </p>
    </div>
  </div>
</div>
